.webpack {
  width: 75%;
  margin: 5px;
}

.react {
  width: 60%;
  margin: 0;
}

.redux {
  width: 70%;
  margin: 5px;
}

.react_router {
  width: 65%;
  margin: 5px;
}

.html_css_ecma {
  width: 40%;
  margin: 5px;
}

@media screen and (orientation: portrait) {
  .webpack {
    width: 55%;
    margin: 5px;
  }

  .react {
    width: 40%;
    margin: 0;
  }

  .redux {
    width: 50%;
    margin: 5px;
  }

  .react_router {
    width: 45%;
    margin: 5px;
  }

  .html_css_ecma {
    width: 55%;
    margin: 5px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 650px) and (orientation: landscape) {
  .webpack {
    width: 55%;
    margin: 5px;
  }

  .react {
    width: 40%;
    margin: 0;
  }

  .redux {
    width: 50%;
    margin: 5px;
  }

  .react_router {
    width: 45%;
    margin: 5px;
  }

  .html_css_ecma {
    width: 55%;
    margin: 5px;
  }
}
