#app {
  font: 13px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #4d4d4d;
  width: 70%;
  margin: 0 auto;
}

@media screen and (orientation: portrait) {
  #app {
    width: 100%;
  }

  .gap {
    padding-left: 15px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 650px) and (orientation: landscape) {
  #app {
    width: 100%;
  }

  .gap {
    padding-left: 15px;
  }
}

.layout {
  padding: 1px 5px 1px 5px;
  position: relative;
  background: url("images/layout.png");
  background-size: 100% 100%;
  /*background: #e8e8e8;*/
  text-align: center;
}

.youtube {
  width: 100%;
  margin-bottom: 5px;
}

.copyright {
  padding-top: 2px;
  font-weight: bold;
  width: 100%;
  height: 40px;
}

.bar {
  margin: auto;
  text-align: center;
}

.noGap {
  padding: 1px 7px 1px 7px;
  border: 0;
}

.noButtonGap {
  padding: 1px 4px 1px 4px;
  border: 0;
}

.noGapHistory {
  padding: 5px 5px 5px 5px;
  border: 0;
}

.noTitleResize {
  height: 35px;
}

.descSize {
  font-size: 11px;
  word-break: break-all;
}

.qrcode {
  width: 100%;
  color: #ffffff;
}

.form-control::-webkit-input-placeholder {
  color: #FFFFFF;
}

.form-control:-moz-placeholder {
  color: #FFFFFF;
}

.form-control::-moz-placeholder {
  color: #FFFFFF;
}

.form-control:-ms-input-placeholder {
  color: #FFFFFF;
}

a {
  color: #9E9E9E;
}

a:hover {
  text-decoration: none;
  color: #000;
}

/* CUSTOM BUTTON */

.btn-custom2 {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-custom2:focus,
.btn-custom2.focus {
  color: #fff;
  background-color: #691916;
  border-color: #761c19;
}

.btn-custom2:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}

.btn-custom:hover {
  background-color: #FFFFFF;
}

/* ------------- */

.video-detail .details {
  margin-top: 5px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #FFFFFF;
}

.video-list {
  margin-top: auto;
  margin-bottom: auto;
}

.gap {
  padding-left: auto;
}

.media-right {
  padding: 1px;
}

.list-group-item {
  cursor: pointer;
  margin-top: 2px;
  margin-bottom: 2px;
}

.list-group-item:hover {
  background-color: #CFCFCF;
  /*background-color: #f0ad4e;*/
}

.hoverOff:hover {
  background-color: #FFFFFF;
}
